<nav class="flex justify-center space-x-4">
  <a
    routerLink="/home"
    class="font-bold px-3 py-2 text-slate-700 rounded-lg hover:bg-slate-100 hover:text-slate-900"
    >Home</a
  >
  <a
    routerLink="/home/cart"
    class="font-bold px-3 py-2 text-slate-700 rounded-lg hover:bg-slate-100 hover:text-slate-900"
    >Todo List</a
  >
  <a
    routerLink="/home/infomation"
    class="font-bold px-3 py-2 text-slate-700 rounded-lg hover:bg-slate-100 hover:text-slate-900"
    >Infomation</a
  >
</nav>
